<!-- 本の投稿一覧 -->
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 20%">Title</th>
      <th style="width: 30%">Opinion</th>
      <th style="width: 30%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <%= link_to user_path(book.user) do %>
        <tr>
          <td>
            <%= image_tag book.user.get_profile_image(100,100) %>
          </td>
          <td>
            <%= link_to book_path(book) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td>
            <p><%= book.body %></p>
          </td>
          <td>
            <%= render 'favorites/favorite', book: book%>
          </tb>
          <td>
            <p>コメント数：<%= book.book_comments.count %></p>
          </tb>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!--kaminari用-->
<%= paginate kaminari %>
