<!-- 本の投稿一覧 -->
<h3>Books</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th style="width: 20%">Title</th>
      <th style="width: 30%">Opinion</th>
      <th style="width: 30%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <%= link_to user_path(book.user) do %>
        <tr>
        <td>
            <%= image_tag book.user.get_profile_image(100,100) %>
        </td>
        <td>
          <%= link_to book_path(book) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td>
          <p><%= book.body %></p>
        </td>
        <td>
          <!-- 自分の投稿にはいいねボタンを表示しない -->
          <% if book.user.id != current_user.id %>

            <!-- ログインしてるユーザーがいいねを押しているか判定 -->
            <% if book.favorited_by?(current_user) %>
            <!-- いいねを押している -->
              <p>
                <%= link_to book_favorite_path(book), method: :delete do %>
                  <i class="fa-solid fa-heart", style="color:red"></i>
                  <%= book.favorites.count %> 
                <% end %>
              </p>

            <!-- いいねを押していない -->
            <% else %>
              <!-- すでに押されている場合は色を変える -->
              <% if book.favorites.count > 0 %>
                <p>
                  <%= link_to book_favorite_path(book), method: :post do %>
                    <i class="fa-solid fa-heart" style="color:red"></i>
                    <%= book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorite_path(book), method: :post do %>
                    <i class="fa-solid fa-heart"></i>
                    <%= book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </tb>
        <td>
          <p>コメント数：<%= book.book_comments.count %></p>
        </tb>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
