<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>Editing Book</h1>
      <%= render 'layouts/message', resece: @book %>
      <%= form_with model: @book do |f| %>
        <div>
          <p>Title</p>
          <%= f.text_field :title %>
        </div>
        <div class="mt-4">
          <p>Opinion</p>
          <%= f.text_area :body %>
        </div>
        <div class="mt-4">
          <%= f.submit 'Update Book' %>
        </div>
        <div class="mt-4">
          <p><%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", books_path %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
