<h1>Books#index</h1>
<% @books.each do |book| %>
  <div>
    <%= link_to user_path(book.user_id) do %>
      <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
      <p>本のタイトル：<%= book.title %></p>
    <% end %>
    <p>感想：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>

<!--kaminari用-->
<%= paginate @books %>